body{
    background-color: #4d305f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%234d305f'/%3E%3Cstop offset='1' stop-color='%232a1a34'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%230d0810' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%230d0810' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%230d0810' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%230d0810' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
     /* BACKGROUND BY SVGBackgrounds.com */
}

aside {
    position: fixed;
    margin: 1em;
    right: 0;    
}

p{
    color:aliceblue;
    font-size: large;
}

h4 {    
    color: aliceblue;
    padding-top: 1em;
}

h5, h3, h2 {
    color: aliceblue;
    padding-top: 2em;
}

.phasesUL {
    list-style: square;
    margin-left: 4em;
    color: aliceblue;
    font-size: larger;
}

#faces > li {
    list-style: square;
    margin-left: 4em;
    color: aliceblue;
    font-size: larger;
}

.list-group-item-dark{
    background-color: #2e173d;
    color: aliceblue;
}


footer{
    color:aliceblue;
}
@media (max-width: 768px){
    #navAside{
        display: none;
    }
}